@import 'theme';

.navbar {
  background-color: #1a1e34;
  padding: 0;
  -webkit-box-shadow: 0px 1px 14px 0px rgba($primary, .5);
  box-shadow: 0px 1px 14px 0px rgba($primary, .5);

  .logo {
    height: 60px;
    padding: 0;
    margin-left: 8px;
  }

  .nav-link {
    cursor: pointer;

    &.active {
      color: $primary;
    }

    &:hover {
      color: $accent;
    }
  }
}

.connected-address {
  color: white;
}

.wallet-btn {
  background: linear-gradient(125deg, rgba(61,110,198,1) 0%, rgba(168,73,168,1) 100%);
}
