@import 'theme';

.mat-dialog-title {
  margin: 0;
}

.transaction-data {
  display: flex;
  flex-direction: row;
  align-items: center;

  &__text {
    flex-grow: 1;
  }
}

.material-icons {
  cursor: pointer;
  color: white;
  padding: 10px;
  border-radius: 4px;

  &:hover {
    color: $primary;
  }
}

.succes-img {
  width: 300px;
}
