<div class="content">
  <div class="row">
    <div class="col-12 col-lg-7 pl-lg-2">
      <sm-card title="Search Unescrow Path">
        <div class="form-inline search-form pb-3">
          <!-- <sm-zone-selector class="col-12 col-md-3 pr-md-2"
            [items]="zoneNames"
            [label]="'From Zone'"
            [colors]="colors"
            [(selectedItem)]="selectedFromZone">
          </sm-zone-selector>
          <sm-zone-selector class="col-12 col-md-3 pr-md-2"
            [items]="zoneNames"
            [label]="'To Zone'"
            [colors]="colors"
            [(selectedItem)]="selectedToZone">
          </sm-zone-selector> -->
          <!-- <button mat-flat-button color="primary" class="search-btn col-12 col-md-2 pb-18" (click)="onSearch()">Search</button> -->
        </div>
        <div class="text-center">
          <!-- <sm-zone-path [bestPathsDetails]="zonesBestPath" [colors]="colors"></sm-zone-path> -->
        </div>
      </sm-card>
    </div>
  </div>
</div>

