<div class="content">
  <div class="row">
    <div class="col-12 pl-lg-2">
      <sm-card title="Search Unescrow Path">
        <div class="row">
          <div class="search-form col-12 col-md-4 pb-3">
            <sm-zone-selector class="form-item col-12 col-md-12 pb-2"
              [items]="allZones"
              [label]="'Current Zone'"
              [(selectedItem)]="selectedCurrentZone">
            </sm-zone-selector>
            <mat-form-field appearance="outline" class="form-item col-12 col-md-12 pb-2">
              <mat-label>Trace</mat-label>
              <input matInput [(ngModel)]="trace">
            </mat-form-field>
            <button mat-flat-button color="primary" class="form-item search-btn col-12 col-md-12 pb-2" (click)="onSearch()">Search</button>
          </div>
          <div class="text-center col-12 col-md-8">
            <sm-zone-path [bestPathsDetails]="zonesUnescrowPath"
              [multiplePath]="false"></sm-zone-path>
          </div>
        </div>

      </sm-card>
    </div>
  </div>
</div>

